.ContactDiv img {
    position: absolute;
    width: 2.69vw;
    height: 2.69vw;
    right: 1vw;
    top: 11px;
}

.ContactBloc {
    position: absolute;
    width: 12vw;
    height: 7vw;
    left: 1065px;
    top: 11px;

    font-size: calc(0.00625 * 12vw);

    background: #F1F5FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: calc(0.0625 * 12vw);

    text-align: center;

    z-index: 1;
}

.ContactBoutonA {
    position: absolute;
    width: 76.9%;
    height: 33%;
    left: 11.25%;
    top: 10%;

    background: #6DA8FF;
    border: 1px solid #2E81FF;
}

.ContactBoutonA:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #6DA8FF;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.ContactBoutonA p{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    transform: translateY(-20%);

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 23em;
    line-height: 210%;
    margin: 0 auto;

    color: #FFFFFF;
}

.ContactBoutonA p:active {
    color: rgba(255, 255, 255, 0.8);
}

.ContactAdd img{
    position: absolute;
    width: 10.42%;
    height: 17.86%;
    top: 54%;
    transform: translateX(-50%);
}

.ContactAdd img:active{
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    top: 55%;
}

.ContactAdmin p{
    position: absolute;
    left: 60%;
    right: 2%;
    top: 79%;
    bottom: 2%;

    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    font-size: 14em;
    line-height: 160%;
    margin: 0 auto;

    color: #292929;

    cursor: pointer;
    pointer-events:all;
}

.ContactAdmin p:active {
    color: rgba(41, 41, 41, 0.7);
}

.ContactAdminImg {
    background-position: absolute;
    left: 91.25%;
    right: 2.5%;
    top: 84%;
    bottom: 4%;
    z-index: 3;

    background-image: url("/Header/lock.svg");
}

.ContactAdminImg:active {
    background-image: url("/Header/lock_active.svg");
}

.AdminBloc {
    position: absolute;
    width: 12.5vw;
    height: 5.8vw;
    left: 1065px;
    top: 11px;

    font-size: calc(0.00625 * 12.5vw);

    background: #F1F5FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: calc(0.0625 * 12.5vw);

    text-align: center;
}

.AdminBloc p{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 70%;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 18em;
    line-height: 160%;
    margin: 0 auto;

    color: #292929;
}

.AdminLine {
    position: absolute;
    width: 100%;
    height: 1%;
    left: 0%;
    top: 35%;

    background: #292929;
}

.AdminPassword label {
    position: absolute;

    left: 4%;
    right: 0%;
    top: 45%;
    bottom: 0%;

    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    font-size: 12em;
    line-height: 160%;
    margin: 0 auto;
    text-align: start;

    color: #292929;
}

.AdminPassword input{
    position: absolute;
    width: 68%;
    height: 21.5%;
    left: 4%;
    top: 70%;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    text-align: start;
}

.AdminPassword img{
    position: absolute;
    width: 20%;
    height: 20%;
    left: 70%;
    top: 70%;

    visibility: visible;
}

.AdminPassword button{
    visibility: hidden;
}