.PageTitle {
    position: absolute;
    left: 45%;
    top: 18px;

    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    margin: 0;

    color: #292929;

    pointer-events: none;
}